/* General styles */

*{ margin:0; 
   padding:0; 
}

.page-header,
.main-index,
.main-footer {
   width:1366px;
   margin:0 auto;
   text-align:left; 
}
/* Hidden headings and element captions */

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   overflow: hidden;
   border: 0;
   clip: rect(0 0 0 0)
}

/* Rules for background color */
/* Rules for fonts (--- only for this push request ---)  */

body {
   font-family: "Inter", sans-serif;
   font-size: 16px;
   line-height: 24px;
   color: #242424;
   background-color: #FEAFC3;
   padding-left: 0 auto;
   /*For IE6 Shenanigans*/
   /* text-align:center;  */
}

/* FONTS: Formating for Headings */

.promo-title {
   font-style: normal;
   font-weight: 900;
   font-size: 36px;
   line-height: 46px;
   color: #2D3440;
}

.banners-title,
.products-title,
.advantages-text,
.delivery-title {
   text-align: center;
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 46px;
   color: #2D3440;
}

.products-title,
.banners-title {
   padding-bottom: 56px;

}
/* END of fonts */

/* Block 1: Header */

.page-header-logo {
   margin: 24px 0 24px 98px;
}

.navigation-menu {
   margin: 33px 0 33px 16px;
}

.navigation-user {
   margin: 33px 0 33px 198px;
}

/* Navigation */

.navigation-item {
   display:inline-block;
   margin-right: 8px;
   padding:0;
}

.navigation-item:nth-last-child(3) {
   display:inline-block;
   margin-right: 0x;
   padding:0;
}

.navigation-search {
   background-image: url(../images/icons/icon-search.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.navigation-customer-login {
   background-image: url(../images/icons/icon-log-in.svg);
   background-repeat: no-repeat;
   background-position: left;
}

.navigation-basket {
   background-image: url(../images/icons/icon-cart.svg);
   background-repeat: no-repeat;
   background-position: left;
}
/* END of navigation*/

/* General bulletpoint removal by ... */

/* lists <li> */

.navigation-item,
.social-item,
.footer-menu-item,
.slider-pagination-item,
.icon-item-advantages,
.breadcrumbs-item,
.catalog-filter-item,
.pagination-item,
.product-list {
   list-style-type: none; 
}

/* links <a> */

.navigation-list a,
.navigation-user a,
.footer-menu-list a,
.snippet-blognews a,
.navigation-phone-number {
   text-decoration: none;
}
/* END of bulletpoint removal*/

/* Section 1: Slider */

.promo-slider-one,
.promo-slider-two,
.promo-slider-three {
   margin-bottom: 80px;
}

.promo-title {
   margin-bottom: 24px;
   margin-left: 70px;
}

.promo-description {
   max-width: 414px;
   height: auto;
   margin-bottom: 48px;
   margin-left: 70px;
   margin-right: 56px;
   padding:0;

}

.circle {
   width: 312px;
   height: 312px;
   border-radius: 50%;
   border: none;
   background-color:#FFCBD8;
}

.circle-small {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: none;
   background-color:#FFCBD8; 
   ;
}

.slider-button {
   width: 38px;
   height: 38px;
   border: 2px solid #fcfcfc;
   border-radius: 50%;
   fill: none;   
}

.slider-prev {
   background-image: url(../images/icons/icon-arrow-left.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.slider-next {
   background-image: url(../images/icons/icon-arrow-right.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.slider-pagination{
   display: block;
   margin-top: 126px;
   margin-bottom: 80px;
}

.slider-pagination-button {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   border: none;
   background-color: #FEB7C9;
}

.slider-pagination-button-current {
   background-color: #FCFCFC;
}

.social {
   display: block;
   margin-bottom: 80px;
}

.slider-pagination-list,
.social-list {
   font-size:0;
}

.slider-pagination-item {
   display:inline-block;
   margin-right: 8px;
   padding:0;
}

.slider-pagination-item:nth-last-child(3) {
   display:inline-block;
   margin-right: 0x;
   padding:0;
}

.social-item {
   display:inline-block;
   margin-right: 16px;
   padding:0;
}

.social-item:nth-last-child(3) {
   display:inline-block;
   margin-right: 0x;
   padding:0;
}

/* END of section 1 */

/* Section 2: Banners */

.banner-raspberry,
.banner-marshmallow {
   background-image: url(../images/banner-underlay.png);
   background-repeat: no-repeat;
}
.banner-raspberry-wrapper {
   max-width: 321px;
   padding: 40px; 
}

.banner-marshmallow-wrapper {
   max-width: 294px;
   padding: 40px;  
}

.banner-raspberry-wrapper img,
.banner-marshmallow-wrapper img {
   display: block;
}

.banner-raspberry-wrapper h3,
.banner-marshmallow-wrapper h3{
   margin-bottom: 16px; 
}

.banner-raspberry-wrapper p,
.banner-marshmallow-wrapper p{
   margin-bottom: 32px; 
}

/* END of section 2 */

/* Section 3: Products */

.products {
   width: 1170px;
}

.product-card {
   background-color: #FFFFFF;
   width: 270px;
   border-radius: 20px 20px 20px 20px;
}

.product-card-title {
   margin-top:16px;
}

.product-card-title,
.product-card-description,
.product-card-price {
   text-align: center;
   padding: 0;
   margin-left:40px;
   margin-right:40px;
   margin-bottom:20px;
}

.product-card-image {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

 /* Link */
.product-card-link {
   text-decoration: none;
}

 /* Title */
.product-card-title {
   font-weight: 700;
   color: #242424;
   font-family: Inter;
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 8px;
}

 /* Price */
.product-card-price {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: #2D3440;
}

.icon-shopping-cart {
   display: block;
   width: 32px;
   height: 32px;
   margin-right: 40px;
   margin-bottom: 24px;
   border: none;
   border-radius: 50%;
   background-color: #ff2f64;
   background-image: url(../images/icons/icon-shopping-cart.svg);
}
/* END of section 3 */


/* Section 4: Advantages */

.advantages {
   width: 1170px;
   height: auto;
   background-image: url(../images/backgrounds/background-waffle.jpg);
   background-repeat: repeat-y; /* Временное решение, пока не появится сетка */
   padding-top: 24px;
   padding-bottom: 24px;
   border-radius: 20px 20px 20px 20px;
}

.advantages-underlay {
   background-color: #fcfcfc;
   width: 1122px;
   min-height: 432px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 56px;
   padding-bottom: 56px;
   border-radius: 20px 20px 20px 20px;
}

.advantages-icon {
   width: 48px;
   height: 48px;
   border: 2px solid #2D3440;
   border-radius: 50%;
   fill: none;
}

.icon-ice {
   background-image: url(../images/icons/icon-ice-cream.svg);
   background-repeat: no-repeat;
   background-position: center;      
}

.icon-leaf {
   background-image: url(../images/icons/icon-leaf.svg);
   background-repeat: no-repeat;
   background-position: center;      
}

.icon-cow {
   background-image: url(../images/icons/icon-cow.svg);
   background-repeat: no-repeat;
   background-position: center;      
}

.icon-thermometer {
   background-image: url(../images/icons/icon-thermometer.svg);
   background-repeat: no-repeat;
   background-position: center;      
}
/* END of section 4 */

/* Section 5: Subscription */

.subscription {
   background-image: url(../images/pattern-postal.png);
   width: 1170px;
   height: 480px;
}

.product-item {
   width: 270px;
   height: 332px;
   background-color: black;
}

/* Article: Snippet with blognews */

.snippet-blognews {
   background-image: url(../images/backgrounds/background-ice-cream.jpg);
   width: 570px;
   height: 216px;
   margin-top: 80px;
   border-radius: 20px 20px 20px 20px;
}

.blog-news{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   color: #565C66;
   margin-bottom: 12px;
}

.blog-news-title{
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 30px;
   color: #2D3440;

}

.snippet-blognews-textblock{
   padding: 40px;
}
/* END of Article: Snippet with blognews */

/* Section 5: Subscription */

.subscription {
   width: 570px;
   height: 216px;
   background-image: url(../images/backgrounds/background-postal.jpg);
   margin-top: 80px;
   border-radius: 20px 20px 20px 20px;
}

.subscription-underlay {
   width: 558px;
   height: 208px;
   margin: 0 auto;
   background-image: url(../images/subscription-underlay.png);
}

.subscription-text{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 22px;
   color: #565C66;
   padding-top: 26px;
   padding-left: 26px;
   padding-right: 26px;
}

.subscription-form{
   padding-top: 26px;
   padding-left: 26px;
   padding-right: 26px; 
}

/* END of section 5 */

/* Section 6: Delivery */

.delivery {
   width: 1170px;
   height: auto;
   background-image: url(../images/backgrounds/background-delivery.jpg);
   background-repeat: space;
   margin-top: 80px;
   padding-top: 24px;
   border-radius: 20px 20px 20px 20px;
}

.delivery-underlay {
   width: 500px;
   height: auto;
   background-image: url(../images/delivery-underlay.png);
   margin-left: 64px;
   padding: 40px 40px;
   border-radius: 20px 20px 20px 20px;
}

.delivery-form{
   font-weight: bold;
   /* margin-top: 26px; */
   /* margin-left: 26px; */
   /* margin-right: 26px;  */
}

.delivery-form-text {
   padding: 40px 80px 40px 40px;
}

.delivery-title{
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 46px;
   color: #2D3440;
   text-align: left;
   margin-left: 100px;
}

.delivery-text{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 22px;
   color: #565C66;
   margin-left: 100px;
}

/*
.icon-info {
   width: 24px;
   height: 24px;
   display:block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;  
   fill: none;
   background-image: url(../images/icons/icon-info.svg);
   background-repeat: no-repeat;
}
*/

/* END of section 6 */

/* Section 7: Contacs */

.contacts {
   width: 1170px;
   height: auto;
   background-image: url(../images/backgrounds/background-contact.jpg);
   background-repeat:space;
   margin-top: 80px;
   padding-top: 64px;
   padding-bottom: 64px;
   border-radius: 20px 20px 20px 20px;
}

.contact-underlay {
   max-width: 343px;
   height: auto;
   background-color: #fcfcfc;
   padding: 40px;
   margin-left: 64px;
   border-radius: 20px 20px 20px 20px;
}

.contact-underlay-wrapper{
}

.contact-normal,
.contact-bold,
.navigation-phone-number {
   margin-left:40px;
   margin-right: 80px;
}

.navigation-phone-number {
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 24px;
   color: #2D3440;
}

.contact-normal {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 22px;
   color: #565C66;
   margin-bottom:12px;
}

.contact-bold {
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 24px;
   color: #2D3440;
}
/* END of section 7 */

/* Footer */

.main-footer {
   margin-top: 40px;
}

.footer-social-icons,
.footer-menu,
.footer-copyright{
   margin-top: 48px; 
}

.footer-social-icons {
   margin-bottom: 81px;
}

.footer-menu{
   margin-bottom: 57px; 
}

.footer-copyright{
   margin-bottom: 48px; 
}

/* END of footer  */


/* -----------------------------------------------------------
-------------------------PRODUCT PAGE-------------------------
----------------------------------------------------------- */

/* header of product page */

.current {
   padding: 8px 16px;
   border: none;
   border-radius: 20px 20px 20px 20px;
   background-color: #ff2f64;
   color: #FFFFFF;
   text-align: center;
   text-decoration: none;
}

/* Breadcrums */

.breadcrumbs {
   margin-left: 98px;
}

.breadcrumbs-item {
   padding:0;
   display:inline-block;
   margin-left: 8 px;
   margin-right: 8 px;
   font-weight: bold;
   text-decoration:underline;
}

.breadcrumbs-item:nth-last-child(even){
   display:inline-block;
   margin-left: 8px;
   margin-right: 8px;
   weight: 20px;
   height: 20px;
   padding:0;
   background-image: url(../images/icons/icon-arrow_tail_right.svg);
   background-repeat: no-repeat;
}

/* Section: Glassy-Producs */

.glassy-products {
   margin-left: 98px;
   margin-right: 98px;
}

.product-list-product-page {
   margin-right: 30px; 
}
/* END of section */

/* Section: Catalog-products */

.catalog-products{
   margin-left: 98px;
   margin-bottom: 48px;
   margin-top: 40px;
   margin-right: 461px;
}

.catalog-filter-group {
   border: none;
}

.catalog-product-selection {
   border-radius: 20px 20px 20px 20px;
   height: 36px;
   padding-top: 8;
   padding-bottom: 8px;
   padding-left: 15px;
   padding-right: 63px;
   background-color: #fec7d5;
   /* opacity: 30%; */
}

.catalog-filter-group{
   background-color:#fec7d5;
   border-radius: 20px 20px 20px 20px;
}

.catalog-filter-item {
   display:inline-block;
   margin-left: 16px;
   margin-right: 16px;
   padding:0;
}
   
.catalog-filter-item:nth-last-child {
   display:inline-block;
   margin-right: 0x;
   padding:0;
   }
   

.control-mark {
   background-image: url(../images/icons/icon-cow.svg);
   width: 15px;
   height: 15px;
}

/* центрирование текста в теге <select> */
/* select */
/* { */
   /* box-sizing: content-box; */
   /* -moz-box-sizing:content-box; */
   /* -webkit-box-sizing:content-box; */
/* } */

/* END of section */

/* Pagination */

.pagination {
   margin-left: 1000px;
}

.pagination-item {
   display:inline-block;
   margin-right: 16px;
   padding:0;
   margin-top: 58px;
   margin-bottom: 82px;
}

.pagination-current {
   width: 24px;
   height: 24px;
   border: none;
   border-radius:50%;
   background-color: #fcfcfc;
}

.pagination-item:nth-last-child(5) {
   display:inline-block;
   margin-right: 0x;
   padding:0;
}

.button-pagination {
   margin-left: 494px;

}

/* -----------------------------------------------------------
----------------------END OF PRODUCT PAGE---------------------
----------------------------------------------------------- */

/* Buttons */

.button-circle {
   border-radius: 50%;
   width: 32px;
   height:32px
}

.button {
   width: auto;
   height: 46px;
   padding: 12px;
   border: none;
   border-radius: 26px 26px;
}


.button-red {
   background-color: #FF2F64;
   color:#FCFCFC;
   border: none;
   border: 4px solid #f7baca;
   box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-white {
   background-color: #FCFCFC;
   color: #2D3440;
   text-decoration: none;
   border: none;
   border: 4px solid #f2c7d3;
   box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.button-pink {
   background-color: #FEC7D5; 
   color: #2D3440;
   text-decoration: none;
   margin-left: 16px;
   margin-right: 16px;
   border: none;
}

.button-pink-product {
   background-color: #FEC7D5; 
   color: #2D3440;
   font-weight: bold;
   text-decoration: none;
   margin-left: 16px;
   margin-right: 16px;
   border: 2px solid #fcfcfc;
   margin-top: 44px;
   margin-bottom: 48px;
}

.button-pink-deactivated {
   background-color: #FCFCFC;
   opacity: 0.3; 
   color: #2D3440;
   text-decoration: none;
   margin-left: 16px;
   margin-right: 16px;
   border: none;
}

.button-margin {
   margin-top: 32px; 
}

.button-margin-left {
   margin-left: 40px; 
}

/* END of buttons */ 

/* Social Icons */

.social-button {
   width: 24px;
   height: 24px;
   display: block;
   border:none;
}

.social-item-vk {
   background-image: url(../images/icons/social-icon-vk.svg);
   background-repeat: no-repeat;
   background-position:center;
   
}

.social-item-facebook {
   background-image: url(../images/icons/social-icon-facebook.svg);
   background-repeat: no-repeat;
   background-position:center;
}

.social-item-instagram {
   background-image: url(../images/icons/social-icon-instagram.svg);
   background-repeat: no-repeat;
   background-position:center;
}

 /* Fonts */

 @font-face {
   font-family: "Inter";
   src: url("../fonts/inter-400.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Inter";
   src: url("..fonts/inter-700.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Inter";
   src: url("..fonts/inter-900.woff2") format("woff2");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
} 

/* All classes after second live-stream */